.main {
  min-height: 100vh;
  background: url('./../../public/castle.jpg');
  background-size: cover;
  background-position: center;
  padding: 48px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.link {
  color: white;
  text-decoration: none;
  text-shadow: 3px 3px 3px black;
  text-align: center;
}

.link:hover {
  color: red;
}

